In [ ]:
#!pip install mlxtend

In [1]:
# Unsupervised ML - Association Rule Mining
import numpy as np 
import pandas as pd

In [2]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [ ]:
# Data preprocessing

In [3]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_array = te.fit(dataset).transform(dataset)

In [4]:
te_array

array([[False, False,  True, False,  True,  True,  True,  True, False,
         True],
       [False, False,  True, False,  True, False,  True,  True, False,
         True],
       [ True, False,  True, False,  True,  True, False, False, False,
        False],
       [False,  True, False, False,  True,  True, False, False,  True,
         True],
       [False,  True,  True,  True,  True, False, False,  True, False,
        False]])

In [5]:
te.columns_

['Apple',
 'Corn',
 'Eggs',
 'Ice cream',
 'Kidney Beans',
 'Milk',
 'Nutmeg',
 'Onion',
 'Unicorn',
 'Yogurt']

In [6]:
transactions = pd.DataFrame(te_array, columns=te.columns_)

In [7]:
transactions

,Apple,Corn,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,True,False,True,True,True,True,False,True
1,False,False,True,False,True,False,True,True,False,True
2,True,False,True,False,True,True,False,False,False,False
3,False,True,False,False,True,True,False,False,True,True
4,False,True,True,True,True,False,False,True,False,False

In [8]:
from mlxtend.frequent_patterns import apriori, association_rules

In [15]:
frequent_itemsets = apriori(transactions, min_support=0.5,use_colnames=True)
frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Onion, Eggs, Kidney Beans)

In [19]:
rules = association_rules(frequent_itemsets)
cols = ["antecedents","consequents", 'lift', 'support', 'confidence']
rules = rules[cols]
print(rules)

             antecedents           consequents  lift  support  confidence
0                 (Eggs)        (Kidney Beans)  1.00      0.8         1.0
1         (Kidney Beans)                (Eggs)  1.00      0.8         0.8
2                (Onion)                (Eggs)  1.25      0.6         1.0
3                 (Milk)        (Kidney Beans)  1.00      0.6         1.0
4                (Onion)        (Kidney Beans)  1.00      0.6         1.0
5               (Yogurt)        (Kidney Beans)  1.00      0.6         1.0
6          (Eggs, Onion)        (Kidney Beans)  1.00      0.6         1.0
7  (Kidney Beans, Onion)                (Eggs)  1.25      0.6         1.0
8                (Onion)  (Eggs, Kidney Beans)  1.25      0.6         1.0