In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [12]:
sample_text = ['This is my first sentence first', 
               'This is my second sentence', 
               'This is my third sentence']

In [13]:
cv = CountVectorizer()

In [14]:
count_matrix = cv.fit_transform(sample_text)

In [15]:
df_test = pd.DataFrame(count_matrix.toarray(), 
                       columns=cv.get_feature_names())
df_test

   first  is  my  second  sentence  third  this
0      2   1   1       0         1      0     1
1      0   1   1       1         1      0     1
2      0   1   1       0         1      1     1

In [16]:
tf_idf_cv = TfidfVectorizer()

In [30]:
count_matrix1 = tf_idf_cv.fit_transform(sample_text)
df_test1 = pd.DataFrame(count_matrix1.toarray(), 
                       columns=tf_idf_cv.get_feature_names())
df_test1

      first        is        my    second  sentence     third      this
0  0.861037  0.254271  0.254271  0.000000  0.254271  0.000000  0.254271
1  0.000000  0.381614  0.381614  0.646129  0.381614  0.000000  0.381614
2  0.000000  0.381614  0.381614  0.000000  0.381614  0.646129  0.381614